<!doctype html>
<html lang='ja'>
  <head>
    <meta charSet="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Denoアプリ自動コンテスト</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css" />
  </head>
  <body>
    <h1>Denoアプリ自動コンテスト</h1>

    <h2>投稿する</h2>
    <form method="post" action="/post">
      作者<input name="author"/>
      アプリ名<input name="title"/>
      説明<input name="description"/>
      <input type="submit" value="投稿"/>
    </form>

    <h2>作品一覧</h2>

  </body>
</html>
